:root {
  --fg: rgb(225, 225, 225);
  --bg: #000;
  --nav-height: 80px;
}

@font-face {
  font-family: "Authentic Sans";
  src: url("fonts/AUTHENTICSans-90.woff2");
}

* {
  box-sizing: border-box;
}

html {
  font: 18px "Authentic Sans", sans-serif;
  background-color: var(--bg);
  background-image: url('bg1.gif');
  color: var(--fg);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  line-height: 1.5;
  /* display: flex; */
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}

a {
  /* color: var(--bg); */
  /* background-color: var(--fg); */
  /* text-decoration: none; */
  /* padding: 2px; */
  color: var(--fg);
}

.logo h1 {
  font-size: 20px;
}

.logo h2 {
  font-size: 13px;
}

.logo a {
  color: var(--fg);
  background-color: transparent;
  text-decoration: none;
}

.logo a span.animate {
  animation-name: color-loop;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.content {
  max-width: 800px;
  margin: auto;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  height: var(--nav-height);
}

.nav-items a {
  margin: 0px 10px;
}

section {
  min-height: 100vh;
  padding-top: 200px;
  padding-top: var(--nav-height);
  line-height: 1.5;
}

#unity-canvas {
  margin: auto;
  display: block;
}

@keyframes color-loop {
  from {
    color: #fff;
  }

  to {
    color: #333;
  }
}
