:root {
  --fg: rgb(225, 225, 225);
  --bg: #000;
  --nav-height: 80px;
}

@font-face {
  font-family: "Authentic Sans";
  src: url("fonts/AUTHENTICSans-90.woff2");
}

* {
  box-sizing: border-box;
}

html {
  font: 18px "Authentic Sans", sans-serif;
  background-color: var(--bg);
  /* background-image: url('bg1.gif'); */
  color: var(--fg);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  line-height: 1.5;
  /* display: flex; */
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}

a {
  /* color: var(--bg); */
  /* background-color: var(--fg); */
  /* text-decoration: none; */
  /* padding: 2px; */
  color: var(--fg);
}

.logo h1 {
  font-size: 20px;
}

.logo h2 {
  font-size: 13px;
}

.logo a {
  color: var(--fg);
  background-color: transparent;
  text-decoration: none;
}

.logo a span.animate {
  animation-name: color-loop;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.content {
  max-width: 800px;
  margin: auto;
}

.logos {
  width: 100%;
  display: block;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  height: var(--nav-height);
  z-index: 999;
}

.nav-items a {
  margin: 0px 10px;
}

section {
  min-height: 100vh;
  padding-top: 200px;
  padding-top: var(--nav-height);
  line-height: 1.5;
}

#unity-canvas {
  margin: auto;
  display: block;
}

#game {
  overflow: hidden;
  position: relative;
  padding-top: 0;
}

video {
  /* height: 100%; */
  /* width: 177.77777778vh; */
  /* min-width: 100%; */
  /* min-height: 56.25vw; */
  position: absolute;
  left: 50%; /* % of surrounding element */
  top: 50%;
  transform: translate(-50%, -50%); /* % of current element */
  z-index: 0;
}

.download {
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.download a {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  width: 350px;
  margin: 30px;
  display: block;
  border: 1px solid #fff;
  border-radius: 5px;
  animation-name: download;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.download a:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

@keyframes download {
  from {
    transform: rotate(-3deg);
  }

  to {
    transform: rotate(3deg);
  }
}

@keyframes color-loop {
  from {
    color: #fff;
  }

  to {
    color: #333;
  }
}
